@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
}

<main>
    <!-- Register start -->
    <section id="register">
        <div class="title-page">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h1>Register</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-content">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="register-signup">
                            <div class="customer-register">
                                <div class="register-left">
                                    <h2>Signup</h2>
                                    <p>Welcome to registration form </p>
                                </div>
                                <div class="register-right">
                                    <form method="post">
                                        <div class="user-form">
                                            <div class="form-group">
                                                <label for="username">Username</label>
                                                <input asp-for="@Model.UserName" class="form-control" id="username">
                                                <span asp-validation-for="@Model.UserName" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label for="password">Phone</label>
                                                <input asp-for="@Model.Phone" type="tel" class="form-control" id="password">
                                                <span asp-validation-for="@Model.Phone" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label for="email">Email Address</label>
                                                <input asp-for="@Model.Email" class="form-control" id="email">
                                                <span asp-validation-for="@Model.Email" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label for="password">Password</label>
                                                <input asp-for="@Model.Password" class="form-control" id="password">
                                                <span asp-validation-for="@Model.Password" class="text-danger"></span>
                                            </div>
                                        </div>

                                        <div class="form-group mt-3">
                                            <label class="small mb-1">User Select</label>
                                            <select name="role" class="form-control" asp-items="ViewBag.allRoles">
                                            </select>
                                        </div>
                                        <button type="submit">Register</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>


@section Scripts{

    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="phoneno-all-numeric-validation.js"></script>

    <script>
        $(document).ready(function () {
            $('[type=tel]').on('change', function (e) {
                $(e.target).val($(e.target).val().replace(/[^\d\.]/g, ''));
            })
            $('[type=tel]').on('keypress', function (e) {
                keys = ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '.', '+'];
                return keys.indexOf(event.key) > -1;
            })
        })
    </script>
}





