@model HeaderViewModel
@{
    ViewData["Title"] = "Default";
}

<header>

    <!-- Mobile responsiv sections black start -->
    <div class="bg-black"></div>

    <!-- Header top start-->
    <section id="header-top">
        <div class="container">
            <div class="row header-row">
                <div class="header-col-left col-lg-6 col-md-6">
                    <div class="language">
                        <ul class="language-items">
                            <li class="language-item">
                                <a class="language-text" href="#">English</a>
                                <i class="fas fa-angle-down"></i>
                                <ul class="sublanguge-items">
                                    <li class="sublanguage-item">
                                        <a class="sublanguage-text" href="#">Franch</a>
                                    </li>
                                    <li class="sublanguage-item">
                                        <a href="#">Deutsch</a>
                                    </li>
                                    <li class="sublanguage-item">
                                        <a href="#">Arabic</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="currency">
                        <ul class="currency-items">
                            <li class="currency-item">
                                <a class="currency-text" href="#">$ Dollar (US)</a>
                                <i class="fas fa-angle-down"></i>
                                <ul class="subcurrency-items">
                                    <li class="subcurrency-item">
                                        <a class="subcurrency-text" href="#">₹ RUPEE (INR)</a>
                                    </li>
                                    <li class="subcurrency-item">
                                        <a href="#">£ Pound (UK)</a>
                                    </li>
                                    <li class="subcurrency-item">
                                        <a href="#">€ Euro (EUR)</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="header-col-right col-lg-6 col-md-6">
                    <div class="welcome">
                        <span>Welcome to Our Store!</span>
                    </div>
                    <div class="page-navbar">
                        <ul class="menu-items">
                            <li class="menu-item">
                                <a href="#">
                                    <i class="far fa-folder-open"></i>
                                    <span>Blog</span>
                                </a>
                            </li>
                            <li class="menu-item">
                                <a href="#">
                                    <i class="far fa-clone"></i>
                                    <span>FAQ</span>
                                </a>
                            </li>
                            <li class="menu-item menu-item-last">
                                <a href="#">
                                    <i class="far fa-envelope"></i>
                                    <span>Contact Us</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Header search start -->
    <section id="header-serch">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <div class="logo ">
                        <a asp-controller="Home" asp-action="Index">
                            <img src="~/assets/img/@Model.HeaderLogo.MainPhoto" alt="">
                        </a>
                    </div>
                    <div class="mobile-navbar">
                        <a href="#">
                            <span class="navbar-icon"></span>
                            <i class="fas fa-bars"></i>
                        </a>
                    </div>
                    <div class="logo-mobil">
                        <a asp-controller="Home" asp-action="Index">
                            <img src="~/assets/img/@Model.HeaderLogo.SecondPhoto" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 search-product-icon">
                    <div class="search">
                        <form method="post">
                            <input type="text" id="search" name="search" class="name" placeholder="Search for products, categories, brands, sku..." id="name" name="name">
                            <div class="select-search">
                                <select class="search-category">
                                    <option selected disabled>All Categories</option>
                                    @foreach (var item in Model.Categories)
                                    {
                                        <option value="@item.Id">@item.Name</option>
                                    }
                                </select>
                            </div>
                            <button asp-controller="Search" asp-action="Search" type="submit" class="search-select">Search</button>
                            <i class="fas fa-search"></i>
                        </form>
                        <div class="add-product">
                            <a href="#">
                                <i class="far fa-plus-square"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="header-account-heart-cart">
                    <div class="header-account">
                        <a asp-controller="account" asp-action="login">
                           
                            @if (User.Identity.IsAuthenticated)
                            {
                                <i class="fas fa-user-tie"></i>
                                <div class="my-account">
                                    <small>Hello, @ViewBag.Username</small>
                                    <a asp-controller="account" asp-action="logout">Logout</a>
                                </div>
                            }
                            else
                            {
                                <i class="fas fa-user-tie"></i>
                                <div class="my-account">
                                    <small>Hello,</small>
                                    <span>Sign In</span>
                                </div>
                            }
                        </a>
                    </div>
                    <div class="header-heart">
                        <a asp-controller="wishlist" asp-action="Index">
                            @if (User.Identity.IsAuthenticated)
                            {
                                <i class="far fa-heart"></i>
                                <span class="user-wishlist" id="totalCount">@ViewBag.WishlistCount</span>
                            }
                            else
                            {
                                <i class="far fa-heart"></i>
                                <span id="totalCount">@ViewBag.WishlistCount</span>
                            }
                        </a>
                    </div>
                    <div class="header-cart">
                        <a asp-controller="basket" asp-action="Index">
                            <div class="cart-icon">
                                <i class="fas fa-shopping-bag"></i>
                                <span id="totalCountPrice">@ViewBag.CartlistCount</span>
                            </div>
                            <div class="cart-content">
                                <small>Cart</small>
                                <span>$0.00</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Header page start -->
    <section id="header-page">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <div class="category-menu">
                        <div class="category-menu-title">
                            <span>Shop By Categories</span>
                            <i class="fas fa-bars"></i>
                        </div>
                        <div class="categories-menu">
                            <ul class="subcategory-menu-items">
                                <li class="subcategory-menu-item">
                                    <a href="#" class="subcategory-menu-link">
                                        <span>Men’s Clothing</span>
                                        <i class="fas fa-angle-right"></i>
                                    </a>
                                </li>
                                <li class="subcategory-menu-item">
                                    <a href="#" class="subcategory-menu-link">
                                        <span>Women’s Clothing</span>
                                        <i class="fas fa-angle-right"></i>
                                    </a>
                                </li>
                                <li class="subcategory-menu-item">
                                    <a href="#" class="subcategory-menu-link">
                                        <span>Accessories</span>
                                        <i class="fas fa-angle-right"></i>
                                    </a>
                                </li>
                                <li class="subcategory-menu-item">
                                    <a href="#" class="subcategory-menu-link">
                                        <span>Shoes</span>
                                        <i class="fas fa-angle-right"></i>
                                    </a>
                                </li>
                                <li class="subcategory-menu-item">
                                    <a href="#" class="subcategory-menu-link">
                                        <span>Jewellery</span>
                                        <i class="fas fa-angle-right"></i>
                                    </a>
                                </li>
                                <li class="subcategory-menu-item">
                                    <a href="#" class="subcategory-menu-link">
                                        <span>Bags & Backpacks</span>
                                        <i class="fas fa-angle-right"></i>
                                    </a>
                                </li>
                                <li class="subcategory-menu-item">
                                    <a href="#" class="subcategory-menu-link">
                                        <span>Watches</span>
                                        <i class="fas fa-angle-right"></i>
                                    </a>
                                </li>
                                <li class="subcategory-menu-item">
                                    <a href="#" class="subcategory-menu-link">
                                        <span>Dresses</span>
                                    </a>
                                </li>
                                <li class="subcategory-menu-item">
                                    <a href="#" class="subcategory-menu-link">
                                        <span>Shirts</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 col-md-9">
                    <div class="main-pages">
                        <ul class="main-pages-items">
                            <li class="main-pages-item">
                                <a href="#" class="main-pages-link">
                                    <span>Home</span>
                                    <i class="fas fa-angle-down"></i>
                                </a>
                            </li>
                            <li class="main-pages-item">
                                <a href="#" class="main-pages-link">
                                    <span>Shop</span>
                                    <i class="fas fa-angle-down"></i>
                                </a>
                            </li>
                            <li class="main-pages-item">
                                <a href="#" class="main-pages-link">
                                    <span>Pages</span>
                                    <i class="fas fa-angle-down"></i>
                                </a>
                            </li>
                            <li class="main-pages-item">
                                <a href="#" class="main-pages-link">
                                    <span>Blog</span>
                                    <i class="fas fa-angle-down"></i>
                                </a>
                            </li>
                            <li class="main-pages-item">
                                <a href="#" class="main-pages-link">
                                    <span>Elements</span>
                                    <i class="fas fa-angle-down"></i>
                                </a>
                            </li>
                            <li class="main-pages-item">
                                <a href="#" class="main-pages-link">
                                    <span>Buy Now</span>
                                </a>
                            </li>
                            <li class="main-pages-item">
                                <a asp-controller="Contact" asp-action="Index" class="main-pages-link">
                                    <span>Contact Us</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Mobile responsive start -->
    <section id="left-sidebar">
        <div class="mobile-menu">
            <div class="menu-header">
                <a href="#"><i class="far fa-user"></i> Login/Signup</a>
                <a href="#"><i class="fas fa-angle-right"></i></a>
            </div>
            <div class="mobile-nav-tabs">
                <ul>
                    <li data-id="1" class="primary active">
                        <span>Menu</span>
                    </li>
                    <li data-id="2" class="primary">
                        <span>Categories</span>
                    </li>
                </ul>
            </div>
            <div data-id="1" class="mobile-primary-menu">
                <ul class="main-munu">
                    <li class="munu-item ">
                        <a href="#" class="menu-btn d-flex justify-content-between">
                            <span>Home</span>
                            <i class="fas fa-plus"></i>
                        </a>
                        <ul class="sab-menu">
                            <li>
                                <a href="#">
                                    <span>Basic</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span>Catalog</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span>Marketplace</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span>Fullscreen</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span>Boxed</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span>Electronics</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span>Dokan</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span>WCMP</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span>WCVenoders</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span>WCFM</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span>RTL</span>
                                </a>
                            </li>
                        </ul>

                    </li>
                    <li class="munu-item">
                        <a href="#">
                            <span>Shop</span>
                        </a>
                    </li>
                    <li class="munu-item">
                        <a href="#" class="menu-buton d-flex justify-content-between">
                            <span>Pages</span>
                            <i class="fas fa-plus"></i>
                        </a>
                        <ul class="sab-menu ">
                            <li>
                                <a href="#">
                                    <span>About Us</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span>Contact Us</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span>FAQ</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span>Our Team</span>
                                </a>
                            </li>
                        </ul>

                    </li>
                    <li class="munu-item">
                        <a href="#">
                            <span>Blog</span>
                        </a>
                    </li>
                    <li class="munu-item">
                        <a href="#">
                            <span>Portfolio</span>
                        </a>
                    </li>
                    <li class="munu-item">
                        <a href="#">
                            <span>Elements</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div data-id="2" class="mobile-category-menu d-none">
                <ul class="main-menu">
                    <li class="menu-item">
                        <a href="#">
                            <span>Men’s Clothing</span>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="#">
                            <span>Women’s Clothing</span>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="#">
                            <span>Accessories</span>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="#">
                            <span>Shoes</span>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="#" class="menu-btn d-flex justify-content-between">
                            <span>Jewellery</span>
                            <i class="fas fa-plus"></i>
                        </a>
                        <ul class="sub-menu d-none">
                            <li>
                                <a href="#">
                                    <span>Precious Jewellery</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span>Silver Jewellery</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span>Artificial Jewellery</span>
                                </a>
                            </li>
                        </ul>

                    </li>
                    <li class="menu-item">
                        <a href="#">
                            <span>Bags & Backpacks</span>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="#">
                            <span>Watches</span>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="#">
                            <span>Dresses</span>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="#">
                            <span>Shirts</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="mobile-topbar">
                <div class="language">
                    <ul>
                        <li>
                            <a href="#">English</a>
                            <ul class="sab-dropdown">
                                <li>
                                    <a href="#">Franch</a>
                                </li>
                                <li>
                                    <a href="#">Deutsch</a>
                                </li>
                                <li>
                                    <a href="#">Arabic</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="currency">
                    <ul>
                        <li>
                            <a href="#">$ Dollar (US)</a>
                            <ul class="sub-dropdown">
                                <li>
                                    <a href="#">₹ RUPEE (INR)</a>
                                </li>
                                <li>
                                    <a href="#">£ Pound (UK)</a>
                                </li>
                                <li>
                                    <a href="#">€ Euro (EUR)</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="social-link">
                    <a href="#">
                        <i class="fa fa-facebook"></i>
                    </a>
                    <a href="#">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a href="#">
                        <i class="fa fa-linkedin"></i>
                    </a>
                    <a href="#">
                        <i class="fa fa-instagram"></i>
                    </a>
                    <a href="#">
                        <i class="fa fa-flickr"></i>
                    </a>
                    <a href="#">
                        <i class="fa fa-rss"></i>
                    </a>
                    <a href="#">
                        <i class="fa fa-youtube"></i>
                    </a>
                </div>
            </div>
        </div>
    </section>
</header>




