@model HomeViewModel
@{
    ViewData["Title"] = "Index";
}

<main>
    <!-- Fashion start -->
    <section id="fashion">
        <div class="container-fluid px-0">
            <div class="slider">
                <div class="owl-carousel owl-them">
                    @foreach (var item in Model.FashionSliders)
                    {
                        <div class="item bg-img" style="background-image: url(assets/img/@item.Photo)">
                            <div class="title @item.TextStyleLeft @item.TextStyleRight">
                                <h1>@item.Title</h1>
                                <p><span>@item.Content</span> @item.Description</p>
                                <a href="#">Shop Now</a>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </section>

    <!-- Category slider start -->
    <section id="category-sliders">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="category-slider-content">
                        <div class="owl-carousel owl-them">
                            @foreach (var item in Model.CategoryCarusels)
                            {
                                <div class="item">
                                    <a href="#">
                                        <div class="category-slider-img">
                                            <img src="~/assets/img/@item.Photo" alt="">
                                        </div>
                                        <div class="category-slider-text">
                                            <p>@item.Name</p>
                                        </div>
                                    </a>
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 category-corusel">
                    <div class="category-slider-content">
                        <div class="owl-carousel owl-them">
                            @foreach (var item in Model.CategoryCarusels)
                            {
                                <div class="item">
                                    <a href="#">
                                        <div class="category-slider-img">
                                            <img src="~/assets/img/@item.Photo" alt="">
                                        </div>
                                        <div class="category-slider-text">
                                            <p>@item.Name</p>
                                        </div>
                                    </a>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Collection start -->
    <section id="collection">
        <div class="container">
            <div class="slider">
                <div class="owl-carousel owl-them">
                    @foreach (var item in Model.CategoryCallections)
                    {
                        <div class="item">
                            <div class="collection-items">
                                <div class="collection-item">
                                    <div class="collection-img">
                                        <img src="~/assets/img/@item.Photo" alt="">
                                    </div>
                                    <div class="collection-text">
                                        <span>@item.Title</span>
                                        <h3>@item.Content</h3>
                                        <a href="#">SHOP NOW</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>
    </section>

    <!-- Products start -->
    <section id="products">
        <div class="container">
            <div class="slider">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#best-seling" role="tab" aria-selected="true">Best Selling</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fetured" data-toggle="tab" href="#featured" role="tab" aria-selected="false">Featured</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link sale" data-toggle="tab" href="#on-sale" role="tab" aria-selected="false">On Sale</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="best-seling" role="tabpanel" aria-labelledby="home-tab">
                        <div class="owl-carousel owl-them">
                            @{ var ysel = 0; var jsel = 2;}
                            @for (var x = 0; x < Model.Products.Where(x => x.IsFeatured == false && x.IsSale == false).Count(); x += 2)
                            {
                                <div class="item">

                                    @foreach (var item in Model.Products.Where(x => x.IsFeatured == false && x.IsSale == false).Skip(ysel).Take(jsel))
                                    {
                                        <div class="product-group">
                                            <div class="product-item">
                                                <div class="product-img">
                                                    @if (item.IsFeatured == true)
                                                    {
                                                        <div class="product-featured">
                                                            <span>Featured</span>
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        <div class="product-featured d-none">
                                                            <span>Featured</span>
                                                        </div>
                                                    }

                                                    <div class="product-button">
                                                        <a href="#" class="add-to-wishlist" data-id="@item.Id" data-toggle="tooltip" data-placement="left" title="Add to Wishlist">
                                                            <i class="far fa-heart"></i>
                                                        </a>
                                                    </div>
                                                    <a asp-controller="Product" asp-action="Index" asp-route-id="@item.Id">
                                                        @{ var zsel = 1;}
                                                        @foreach (var img in item.ProductGalleries)
                                                        {
                                                            @if (zsel == 1)
                                                            {
                                                                <img data-id=@zsel src="~/assets/img/@img.Photo" alt="">
                                                            }
                                                            else
                                                            {
                                                                <img class="hide-img" data-id=@zsel src="~/assets/img/@img.Photo" alt="">
                                                            }

                                                            zsel++;
                                                        }
                                                        <img class="hover-image hide-img" src="~/assets/img/@item.HoverPhoto" alt="">
                                                    </a>
                                                </div>
                                                <div class="product-text">
                                                    <div class="product-title">
                                                        <div class="product-category">
                                                            <a asp-controller="Category" asp-action="SubCategoryDetail" asp-route-id="@item.SubCategory.Id">@item.SubCategory.Name</a>
                                                        </div>
                                                        <h3 class="product-content">
                                                            <a asp-controller="Product" asp-action="Index" asp-route-id="@item.Id">@item.Name</a>
                                                        </h3>
                                                        <div class="product-start">
                                                            <div class="@item.StarColor">
                                                                <span>@item.StarCount ★</span>
                                                            </div>
                                                            <div class="rating-counts">
                                                                <a href="#"><span> (@item.RatingCount) </span></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="product-price">
                                                        <span class="price">
                                                            <span>@item.Price.ToString("#.00")</span>
                                                        </span>
                                                        <span class="on-sale">
                                                            <span>@item.OnSale</span>
                                                        </span>
                                                    </div>
                                                    <div class="product-buttons">
                                                        <div class="cart-button">
                                                            <a href="#">Select options</a>
                                                        </div>
                                                        <div class="compare-button">
                                                            <a href="#" data-toggle="tooltip" data-placement="top" title="Compare"><i class="fas fa-random"></i></a>
                                                        </div>
                                                        <div class="search-button">
                                                            <a href="#" data-toggle="tooltip" data-placement="top" title="Quick View"><i class="fas fa-search-plus"></i></a>
                                                        </div>
                                                    </div>
                                                    <div class="product-variations">
                                                        <div class="product-colors">
                                                            @{ int csel = 1;}
                                                            @foreach (var color in item.ProductColors)
                                                            {
                                                                @if (csel == 1)
                                                                {
                                                                    <span data-id=@csel class="product-color active">
                                                                        <span data-toggle="tooltip" data-placement="top" title="@color.Color.Key" class="@color.Color.Value"></span>
                                                                    </span>
                                                                }
                                                                else
                                                                {
                                                                    <span data-id=@csel class="product-color">
                                                                        <span data-toggle="tooltip" data-placement="top" title="@color.Color.Key" class="@color.Color.Value"></span>
                                                                    </span>
                                                                }
                                                                csel++;
                                                            }
                                                        </div>
                                                        <div class="product-sizes">
                                                            @{ string active = "active";}

                                                            @foreach (var sizes in item.ProductSizes)
                                                            {
                                                                @if (active == "active")
                                                                {
                                                                    <span class="product-size active">
                                                                        <span>@sizes.Size.Value</span>
                                                                    </span>
                                                                }
                                                                else
                                                                {
                                                                    <span class="product-size">
                                                                        <span>@sizes.Size.Value</span>
                                                                    </span>
                                                                }
                                                                { active = "deactive"; }
                                                            }
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }

                                    @{ ysel += 2; }

                                </div>
                            }
                        </div>
                    </div>
                    <div class="tab-pane fade" id="featured" role="tabpanel" aria-labelledby="profile-tab">
                        <div class="owl-carousel owl-them">
                            @{ var yfet = 0; var jfet = 2;}
                            @for (int i = 0; i < Model.Products.Where(x => x.IsFeatured == true).Count(); i += 2)
                            {
                                <div class="item">
                                    @foreach (var item in Model.Products.Where(x => x.IsFeatured == true).Skip(yfet).Take(jfet))
                                    {
                                        <div class="product-group">
                                            <div class="product-item">
                                                <div class="product-img">
                                                    @if (item.IsFeatured == true)
                                                    {
                                                        <div class="product-featured">
                                                            <span>Featured</span>
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        <div class="product-featured d-none">
                                                            <span>Featured</span>
                                                        </div>
                                                    }
                                                    <div class="product-button">
                                                        <a href="#" class="add-to-wishlist" data-id="@item.Id" data-toggle="tooltip" data-placement="left" title="Add to Wishlist">
                                                            <i class="far fa-heart"></i>
                                                        </a>
                                                    </div>
                                                    <a asp-controller="Product" asp-action="Index" asp-route-id="@item.Id">
                                                        @{ var zfet = 1;}
                                                        @foreach (var img in item.ProductGalleries)
                                                        {
                                                            @if (zfet == 1)
                                                            {
                                                                <img data-id=@zfet src="~/assets/img/@img.Photo" alt="">
                                                            }
                                                            else
                                                            {
                                                                <img class="hide-img" data-id=@zfet src="~/assets/img/@img.Photo" alt="">
                                                            }
                                                            zfet++;
                                                        }

                                                        <img class="hover-image hide-img" src="~/assets/img/@item.HoverPhoto" alt="">
                                                    </a>
                                                </div>
                                                <div class="product-text">
                                                    <div class="product-title">
                                                        <div class="product-category">
                                                            <a asp-controller="Category" asp-action="SubCategoryDetail" asp-route-id="@item.SubCategory.Id">@item.SubCategory.Name</a>
                                                        </div>
                                                        <h3 class="product-content">
                                                            <a asp-controller="Product" asp-action="Index" asp-route-id="@item.Id">@item.Name</a>
                                                        </h3>
                                                        <div class="product-start">
                                                            <div class="@item.StarColor">
                                                                <span>@item.StarCount ★</span>
                                                            </div>
                                                            <div class="rating-counts">
                                                                <a href="#"><span> (@item.RatingCount) </span></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="product-price">
                                                        <span class="price">
                                                            <span>@item.Price.ToString("#.00")</span>
                                                        </span>
                                                        <span class="on-sale">
                                                            <span>@item.OnSale</span>
                                                        </span>
                                                    </div>
                                                    <div class="product-buttons">
                                                        <div class="cart-button">
                                                            <a href="#">Select options</a>
                                                        </div>
                                                        <div class="compare-button">
                                                            <a href="#" data-toggle="tooltip" data-placement="top" title="Compare"><i class="fas fa-random"></i></a>
                                                        </div>
                                                        <div class="search-button">
                                                            <a href="#" data-toggle="tooltip" data-placement="top" title="Quick View"><i class="fas fa-search-plus"></i></a>
                                                        </div>
                                                    </div>
                                                    <div class="product-variations">
                                                        <div class="product-colors">
                                                            @{ var cfed = 1;}
                                                            @foreach (var color in item.ProductColors)
                                                            {
                                                                if (cfed == 1)
                                                                {
                                                                    <span data-id=@cfed class="product-color active">
                                                                        <span data-toggle="tooltip" data-placement="top" title="@color.Color.Key" class="@color.Color.Value"></span>
                                                                    </span>
                                                                }
                                                                else
                                                                {
                                                                    <span data-id=@cfed class="product-color">
                                                                        <span data-toggle="tooltip" data-placement="top" title="@color.Color.Key" class="@color.Color.Value"></span>
                                                                    </span>
                                                                }
                                                                cfed++;
                                                            }
                                                        </div>
                                                        <div class="product-sizes">
                                                            @{ var active = "active";}
                                                            @foreach (var sizes in item.ProductSizes)
                                                            {
                                                                @if (active == "active")
                                                                {
                                                                    <span class="product-size active">
                                                                        <span>@sizes.Size.Value</span>
                                                                    </span>
                                                                }
                                                                else
                                                                {
                                                                    <span class="product-size">
                                                                        <span>@sizes.Size.Value</span>
                                                                    </span>
                                                                }
                                                                { active = "deactive"; }
                                                            }
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    @{ yfet += 2; }
                                </div>
                            }
                        </div>
                    </div>
                    <div class="tab-pane fade" id="on-sale" role="tabpanel" aria-labelledby="contact-tab">
                        <div class="owl-carousel owl-them">
                            @{ var yonsel = 0; var jonsel = 2;}
                            @for (var x = 0; x < Model.Products.Where(x => x.IsSale == true).Count(); x += 2)
                            {
                                <div class="item">

                                    @foreach (var item in Model.Products.Where(x => x.IsSale == true).Skip(yonsel).Take(jonsel))
                                    {
                                        <div class="product-group">
                                            <div class="product-item">
                                                <div class="product-img">
                                                    @if (item.IsFeatured == true)
                                                    {
                                                        <div class="product-featured">
                                                            <span>Featured</span>
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        <div class="product-featured d-none">
                                                            <span>Featured</span>
                                                        </div>
                                                    }

                                                    <div class="product-button">
                                                        <a href="#" class="add-to-wishlist" data-id="@item.Id" data-toggle="tooltip" data-placement="left" title="Add to Wishlist">
                                                            <i class="far fa-heart"></i>
                                                        </a>
                                                    </div>
                                                    <a asp-controller="Product" asp-action="Index" asp-route-id="@item.Id">
                                                        @{ var zonsel = 1;}
                                                        @foreach (var img in item.ProductGalleries)
                                                        {
                                                            @if (zonsel == 1)
                                                            {
                                                                <img data-id=@zonsel src="~/assets/img/@img.Photo" alt="">
                                                            }
                                                            else
                                                            {
                                                                <img class="hide-img" data-id=@zonsel src="~/assets/img/@img.Photo" alt="">
                                                            }

                                                            zonsel++;
                                                        }
                                                        <img class="hover-image hide-img" src="~/assets/img/@item.HoverPhoto" alt="">
                                                    </a>
                                                </div>
                                                <div class="product-text">
                                                    <div class="product-title">
                                                        <div class="product-category">
                                                            <a asp-controller="Category" asp-action="SubCategoryDetail" asp-route-id="@item.SubCategory.Id">@item.SubCategory.Name</a>
                                                        </div>
                                                        <h3 class="product-content">
                                                            <a asp-controller="Product" asp-action="Index" asp-route-id="@item.Id">@item.Name</a>
                                                        </h3>
                                                        <div class="product-start">
                                                            <div class="@item.StarColor">
                                                                <span>@item.StarCount ★</span>
                                                            </div>
                                                            <div class="rating-counts">
                                                                <a href="#"><span> (@item.RatingCount) </span></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="product-price">
                                                        <span class="price">
                                                            <span>@item.Price.ToString("#.00")</span>
                                                        </span>
                                                        <span class="on-sale">
                                                            <span>@item.OnSale</span>
                                                        </span>
                                                    </div>
                                                    <div class="product-buttons">
                                                        <div class="cart-button">
                                                            <a href="#">Select options</a>
                                                        </div>
                                                        <div class="compare-button">
                                                            <a href="#" data-toggle="tooltip" data-placement="top" title="Compare"><i class="fas fa-random"></i></a>
                                                        </div>
                                                        <div class="search-button">
                                                            <a href="#" data-toggle="tooltip" data-placement="top" title="Quick View"><i class="fas fa-search-plus"></i></a>
                                                        </div>
                                                    </div>
                                                    <div class="product-variations">
                                                        <div class="product-colors">
                                                            @{ int consel = 1;}
                                                            @foreach (var color in item.ProductColors)
                                                            {
                                                                @if (consel == 1)
                                                                {
                                                                    <span data-id=@consel class="product-color active">
                                                                        <span data-toggle="tooltip" data-placement="top" title="@color.Color.Key" class="@color.Color.Value"></span>
                                                                    </span>
                                                                }
                                                                else
                                                                {
                                                                    <span data-id=@consel class="product-color">
                                                                        <span data-toggle="tooltip" data-placement="top" title="@color.Color.Key" class="@color.Color.Value"></span>
                                                                    </span>
                                                                }
                                                                consel++;
                                                            }
                                                        </div>
                                                        <div class="product-sizes">
                                                            @{ string active = "active";}

                                                            @foreach (var sizes in item.ProductSizes)
                                                            {
                                                                @if (active == "active")
                                                                {
                                                                    <span class="product-size active">
                                                                        <span>@sizes.Size.Value</span>
                                                                    </span>
                                                                }
                                                                else
                                                                {
                                                                    <span class="product-size">
                                                                        <span>@sizes.Size.Value</span>
                                                                    </span>
                                                                }
                                                                { active = "deactive"; }
                                                            }
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }

                                    @{ yonsel += 2; }

                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Category start -->
    <section id="category">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="fashion-categories">
                        <div class="fashion-category">
                            <div class="category-heading">
                                <h2>Fashion Categories</h2>
                                <div class="view-all-buton">
                                    <a href="#">View All</a>
                                </div>
                            </div>
                            <div class="category-content">
                                <div class="owl-carousel owl-them">
                                    @foreach (var item in Model.Categories)
                                    {
                                        <div class="item">
                                            <div class="category-product">
                                                <a asp-controller="Category" asp-action="Index" asp-route-id="@item.Id">
                                                    @if (item.Name == "Electronics")
                                                    {
                                                        <img src="~/assets/img/@item.Photo" height="300" alt="">
                                                    }
                                                    else
                                                    {
                                                        <img src="~/assets/img/@item.Photo" alt="">
                                                    }

                                                    <h3>
                                                        @item.Name
                                                        <span>@item.ProductCount Products</span>
                                                    </h3>
                                                </a>
                                            </div>
                                        </div>
                                    }

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Customer start -->
    <section id="customer" style="background-image: url(assets/img/@Model.TestimonialItem.Photo)">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="our-customer">
                        <div class="customer-header">
                            <div class="customer-title">
                                <h4>@Model.TestimonialItem.Title</h4>
                            </div>
                        </div>
                        <div class="customer-empoty"></div>
                        <div class="customer-testimonial">
                            <div class="customer-slider">
                                <div class="owl-carousel owl-them">
                                    @foreach (var item in Model.Testimonials)
                                    {
                                        <div class="item">
                                            <div class="testimonial">
                                                <div class="testimonial-content">
                                                    <div class="testimonial-detail">
                                                        <i class="fas fa-quote-left"></i>
                                                        @item.Content
                                                        <i class="fas fa-quote-right"></i>
                                                    </div>
                                                    <div class="testimonial-img">
                                                        <img src="~/assets/img/@item.Photo" alt="Founder">
                                                    </div>
                                                    <div class="testimonial-description">
                                                        <div class="testimonial-name">@item.FullName</div>
                                                        <div class="testimonial-profession">@item.Position</div>
                                                        <div class="testimonial-star">
                                                            @for (int i = 0; i < item.Star; i++)
                                                            {
                                                                <i class="fas fa-star"></i>
                                                            }

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Info start -->
    <section id="info">
        <div class="container">
            <div class="row">
                @foreach (var item in Model.Infos)
                {
                    <div class="col-lg-3 col-md-6 mb-3">
                        <div class="info-content">
                            <div class="info-icon">
                                <i class="fas @item.Icon"></i>
                            </div>
                            <div class="info-text">
                                <div class="info-title">
                                    <h5>@item.Title</h5>
                                </div>
                                <div class="inf-description">
                                    <p>@item.Content</p>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>

    <!-- News start -->
    <section id="news">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="news-heading">
                        <h2>Latest News</h2>
                    </div>
                    <div class="news-content">
                        <div class="owl-carousel owl-them">
                            @foreach (var item in Model.Newses)
                            {
                                <div class="item">
                                    <div class="news-img">
                                        <a href="#">
                                            <img src="~/assets/img/@item.Photo" alt="">
                                        </a>
                                    </div>
                                    <div class="new-text">
                                        <div class="news-header">
                                            <div class="news-category">
                                                <span>
                                                    @foreach (var elem in item.Title)
                                                    {
                                                        <a href="#">@elem</a>
                                                    }
                                                </span>
                                            </div>
                                            <h2>
                                                <a href="#">@item.Content</a>
                                            </h2>
                                            <div class="news-meta">
                                                <span class="news-author">
                                                    <i class="far fa-user"></i> By
                                                    <a href="#">@item.AddedBy</a>
                                                </span>
                                                <span class="new-date">
                                                    <i class="fas fa-calendar-alt"></i>
                                                    <a href="#">@item.Date.ToString("dd.MM.yyyy")</a>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="news-body">
                                            <p>@item.Description</p>
                                        </div>
                                        <div class="news-footer">
                                            <p>
                                                <a href="#">Continue Reading </a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Brand start -->
    <section id="brand">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="owl-carousel owl-them">
                        @foreach (var item in Model.Brands)
                        {
                            <div class="item">
                                <div class="product-brand">
                                    <a href="#">
                                        <div class="brand-img">
                                            <img src="~/assets/img/@item.Photo" alt="">
                                        </div>
                                    </a>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>


@section Scripts{
    
    <script>

        toastr.options = {
            "closeButton": false,
            "debug": false,
            "newestOnTop": false,
            "progressBar": false,
            "positionClass": "toast-top-left",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
        }

        let AllAddSpan = document.querySelectorAll(".add-to-wishlist");
        AllAddSpan.forEach(item => {
            item.addEventListener("click", function () {
                event.preventDefault();
                let id = $(this).attr("data-id");
                toastr.success(`the product added to your wishlist`);
                $.ajax({
                    url: "/WishList/AddToWish?Id=" + id,
                    type: "Get",
                    success: function (res) {
                        console.log(res.wishlistProductCount);
                        let totalCount = document.getElementById('totalCount');
                        totalCount.innerHTML = res.wishlistProductCount;

                    }
                })
            })
        })
    </script>

}

