@model CategoryViewModel
@{
    ViewData["Title"] = "Index";

    if (ViewBag.Page == null)
    {
        ViewBag.Page = 1;
    }
}

<main>
    <!-- Title page start -->
    <section id="title-page">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="entry-header">
                        <h1>@Model.Category.Name</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Main page start -->
    <section id="main-page">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-4">
                    <div class="product-categories">
                        <h2>Product categories <i class="fas fa-angle-up"></i></h2>
                        <ul class="categories-items">
                            @foreach (var item in Model.Categories)
                            {
                                <li class="category-item">
                                    <a asp-controller="Category" asp-action="Index" asp-route-id="@item.Id">@item.Name <i class="fas fa-angle-down"></i></a>
                                    <span>(@item.ProductCount)</span>
                                    <ul class="subcategories-items d-none">
                                        @foreach (var subCategory in item.SubCategories)
                                        {
                                            <li class="subcategory-item">
                                                <a asp-controller="Category" asp-action="SubCategoryDetail" asp-route-id="@subCategory.Id">@subCategory.Name</a>
                                            </li>
                                        }
                                    </ul>
                                </li>
                            }
                        </ul>
                    </div>
                    <div class="price-filter">
                        <h2>Filter by Price <i class="fas fa-angle-up"></i></h2>
                        <ul class="price-filter-list">
                            <li class="price-filter-item">
                                <a href="#">
                                    <div class="form-check form-check-inline">
                                        <input class="price-item" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="0 - 50">
                                        <span>$0.00 -</span>
                                        <span> $50.00</span>
                                    </div>
                                </a>
                            </li>
                            <li class="price-filter-item">
                                <a href="#">
                                    <div class="form-check form-check-inline">
                                        <input class="price-item" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="50 - 100">
                                        <span>$50.00 -</span>
                                        <span> $100.00</span>
                                    </div>
                                </a>
                            </li>
                            <li class="price-filter-item">
                                <a href="#">
                                    <div class="form-check form-check-inline">
                                        <input class="price-item" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="100 - 200">
                                        <span>$100.00 -</span>
                                        <span> $200.00</span>
                                    </div>
                                </a>
                            </li>
                            <li class="price-filter-item">
                                <a href="#">
                                    <div class="form-check form-check-inline">
                                        <input class="price-item" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="200 - 1000000">
                                        <span>$200.00 -</span>
                                        <span> more</span>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="color-filter">
                        <h2>Filter by Color <i class="fas fa-angle-up"></i></h2>
                        <ul class="color-filter-list">
                            @foreach (var item in Model.Colors)
                            {
                                <li class="color-filter-item">
                                    <a href="#">
                                        <div class="form-check">
                                            <input class="color-item" data-id="@item.Id" type="checkbox" id="gridCheck1">
                                            <span class="product-color">
                                                <span data-toggle="tooltip" data-placement="top" title="@item.Key" class="@item.Value"></span>
                                            </span>
                                        </div>
                                        <span>@item.Key</span>
                                    </a>
                                </li>
                            }
                        </ul>

                    </div>
                    <div class="size-filter">
                        <h2>Filter by Size <i class="fas fa-angle-up"></i></h2>
                        <ul class="size-filter-list">
                            @foreach (var item in Model.Sizes)
                            {
                                <li class="size-filter-item">
                                    <a href="#">
                                        <div class="form-check">
                                            <input class="size-item" data-id="@item.Id" type="checkbox" id="gridCheck1">
                                        </div>
                                        <span>@item.Value</span>
                                    </a>
                                </li>
                            }

                        </ul>
                    </div>
                    <div class="star-filter">
                        <h2>Average Rating <i class="fas fa-angle-up"></i></h2>
                        <ul class="star-filter-list">
                            <li class="star-filter-item">
                                <a href="#">
                                    <div class="form-check">
                                        <input class="star-item" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="5">
                                    </div>
                                    <span class="star-color">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </span>
                                </a>
                            </li>
                            <li class="star-filter-item">
                                <a href="#">
                                    <div class="form-check">
                                        <input class="star-item" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="4">
                                    </div>
                                    <span class="star-color">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="far fa-star"></i>
                                    </span>
                                </a>
                            </li>
                            <li class="star-filter-item">
                                <a href="#">
                                    <div class="form-check">
                                        <input class="star-item" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="3">
                                    </div>
                                    <span class="star-color">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="far fa-star"></i>
                                        <i class="far fa-star"></i>
                                    </span>
                                </a>
                            </li>
                            <li class="star-filter-item">
                                <a href="#">
                                    <div class="form-check">
                                        <input class="star-item" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="2">
                                    </div>
                                    <span class="star-color">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="far fa-star"></i>
                                        <i class="far fa-star"></i>
                                        <i class="far fa-star"></i>
                                    </span>
                                </a>
                            </li>
                            <li class="star-filter-item">
                                <a href="#">
                                    <div class="form-check">
                                        <input class="star-item" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="1">
                                    </div>
                                    <span class="star-color">
                                        <i class="fas fa-star"></i>
                                        <i class="far fa-star"></i>
                                        <i class="far fa-star"></i>
                                        <i class="far fa-star"></i>
                                        <i class="far fa-star"></i>
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                
                </div>
                <div class="col-lg-9 col-md-8">
                    <div class="row">
                        <input type="hidden" id="hidden-category" value="@Model.Category.Id" />
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="product-header">
                                <div class="product-show">
                                    <span>Show:</span>
                                    <select id="paging-size" class="show-number">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option selected>5</option>
                                        <option>6</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div id="parent-product" class="col-lg-12 d-flex flex-wrap">
                            @foreach (var item in Model.Products)
                            {
                                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-6">
                                    <div class="item">
                                        <div class="product-group">
                                            <div class="product-item">
                                                <div class="product-img">
                                                    @if (item.IsFeatured == true)
                                                    {
                                                        <div class="product-featured">
                                                            <span>Featured</span>
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        <div class="product-featured d-none">
                                                            <span>Featured</span>
                                                        </div>
                                                    }
                                                    <div class="product-button">
                                                        <a href="#" class="add-to-wishlist" data-id="@item.Id" data-toggle="tooltip" data-placement="left" title="Add to Wishlist">
                                                            <i class="far fa-heart"></i>
                                                        </a>
                                                    </div>
                                                    <a asp-controller="Product" asp-action="Index" asp-route-id="@item.Id">
                                                        @{ var imgCount = 1;}
                                                        @foreach (var img in item.ProductGalleries)
                                                        {
                                                            @if (imgCount == 1)
                                                            {
                                                                <img data-id=@imgCount src="~/uploads/@img.Photo" alt="">
                                                            }
                                                            else
                                                            {
                                                                <img data-id=@imgCount class="hide-img" src="~/uploads/@img.Photo" alt="">
                                                            }
                                                            imgCount++;
                                                        }
                                                        <img class="hover-image hide-img" src="~/uploads/@item.HoverPhoto" alt="Men-Hooded-Blue-Grey-T-Shirt">
                                                    </a>
                                                </div>
                                                <div class="product-text">
                                                    <div class="product-title">
                                                        <div class="product-category">
                                                            <a asp-controller="Category" asp-action="SubCategoryDetail" asp-route-id="@item.SubCategory.Id">@item.SubCategory.Name</a>
                                                        </div>
                                                        <h3 class="product-content">
                                                            <a asp-controller="Product" asp-action="Index" asp-route-id="@item.Id">@item.Name</a>
                                                        </h3>
                                                        <div class="product-start">
                                                            <div class="@item.StarColor">
                                                                <span>@item.StarCount ★</span>
                                                            </div>
                                                            <div class="rating-counts">
                                                                <a href="#"><span> (@item.RatingCount) </span></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="product-price">
                                                        <span class="price">
                                                            <span>$@item.Price.ToString("#.00")</span>
                                                        </span>
                                                        <span class="on-sale">
                                                            <span>@item.OnSale</span>
                                                        </span>
                                                    </div>
                                                    <div class="product-buttons">
                                                        <div class="cart-button">
                                                            <a href="#" class="add-to-cartlist" data-id="@item.Id">Add to cart</a>
                                                        </div>
                                                        <div class="compare-button">
                                                            <a href="#" data-toggle="tooltip" data-placement="top" title="Compare"><i class="fas fa-random"></i></a>
                                                        </div>
                                                        <div class="search-button">
                                                            <a href="#" data-toggle="tooltip" data-placement="top" title="Quick View"><i class="fas fa-search-plus"></i></a>
                                                        </div>
                                                    </div>
                                                    <div class="product-variations">
                                                        <div class="product-colors">
                                                            @{ int colorsCount = 1;}
                                                            @foreach (var color in item.ProductColors)
                                                            {
                                                                @if (colorsCount == 1)
                                                                {
                                                                    <span data-id=@colorsCount class="product-color active">
                                                                        <span data-toggle="tooltip" data-placement="top" title="@color.Color.Key" class="@color.Color.Value"></span>
                                                                    </span>
                                                                }
                                                                else
                                                                {
                                                                    <span data-id=@colorsCount class="product-color">
                                                                        <span data-toggle="tooltip" data-placement="top" title="@color.Color.Key" class="@color.Color.Value"></span>
                                                                    </span>
                                                                }
                                                                colorsCount++;
                                                            }
                                                        </div>
                                                        <div class="product-sizes">
                                                            @{ string actives = "active";}

                                                            @foreach (var sizes in item.ProductSizes)
                                                            {
                                                                @if (actives == "active")
                                                                {
                                                                    <span class="product-size active">
                                                                        <span>@sizes.Size.Value</span>
                                                                    </span>
                                                                }
                                                                else
                                                                {
                                                                    <span class="product-size">
                                                                        <span>@sizes.Size.Value</span>
                                                                    </span>
                                                                }
                                                                { actives = "deactive"; }
                                                            }
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>

                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="pagination-area">
                                @if (Model.Products.Count > 0)
                                {
                                <ul class="d-flex justify-content-center align-items-center">
                                    @for (int i = 1; i <= ViewBag.PageCount; i++)
                                    {
                                        if (ViewBag.Page == i)
                                        {
                                            <li class="page-item active disabled"><a class="page-link" href="#">@i</a></li>
                                        }
                                        else
                                        {
                                            <li class="page-item"><a class="page-link" asp-controller="Category" 
                                                                                       asp-action="Index" data-id="@i" 
                                                                                       asp-route-id="@Model.Category.Id" 
                                                                                       asp-route-page="@i">@i</a></li>
                                        }
                                    }
                                </ul>
                                }
                                else
                                {
                                    <ul class="d-flex justify-content-center align-items-center">
                                        @for (int i = 1; i <= ViewBag.PageCount; i++)
                                        {
                                            if (ViewBag.Page == i)
                                            {
                                                <li class="page-item active disabled d-none"><a class="page-link" href="#">@i</a></li>
                                            }
                                            else
                                            {
                                                <li class="page-item"><a class="page-link" asp-controller="Category" asp-action="Index" data-id="@i" asp-route-id="@Model.Category.Id" asp-route-page="@i">@i</a></li>
                                            }
                                        }
                                    </ul>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>


@section Scripts{
    <script>
        $(document).ready(function () {
            let colorsInput = document.querySelectorAll('.color-item');
            
            colorsInput.forEach(item => {
                item.addEventListener("change", function () {
                    let colorsId = [];
                    
                    
                    for (let item of colorsInput) {
                        if (item.checked) {
                            colorsId.push(item.getAttribute("data-id"));
                            
                        }
                    }
                    if (colorsId.length == 0) {
                        window.location.reload();
                    }
                    let formData = new FormData();


                    for (let colorId of colorsId) {
                        formData.append("ColorsId", colorId);
                    }
                    formData.append("categoryId",$("#hidden-category").val());
                    
                    axios.post('/Category/CategoryColor', formData)
                        .then(function (response) {
                            console.log(response.data);
                            if (response.data == null) {
                                $(".product-header").html("<h1>Data yoxdu</h1>");
                            }
                            if (response.data.count == null) {
                                $(".page-item").addClass("d-none");
                                $(".product-header").addClass("d-none");
                                
                            }
                            
                            
                            $("#parent-product").html(response.data);
                           
                        })
                        .catch(function (error) {
                            if (error.response) {
                                let errorObj = error.response.data;
                                console.log(errorObj)
                                for (let errors in errorObj) {
                                    let error = errorObj[errors];
                                    $.notify(error, "error");
                                }
                            }
                        });
                })
            })
        })
    </script>

   <script>
       $(document).ready(function () {
           let sizeInput = document.querySelectorAll(".size-item");

           sizeInput.forEach(item => {
               item.addEventListener("change", function () {
                   let sizesId = [];

                   for (let item of sizeInput){
                       if (item.checked) {
                           sizesId.push(item.getAttribute("data-id"));
                       }
                   }

                   if (sizesId.length == 0) {
                       window.location.reload();
                   }

                   let formData = new FormData();

                   for (let sizeId of sizesId) {
                       formData.append("SizesId", sizeId);
                   }
                   formData.append("categoryId", $("#hidden-category").val());
                   axios.post('/Category/CategorySize', formData)
                       .then(function (response) {
                           if (response.data.count == null) {
                               $(".page-item").addClass("d-none");
                               $(".product-header").addClass("d-none");
                           }
                           $("#parent-product").html(response.data);
                       })
                       .catch(function (error) {
                           if (error.response) {
                               let errorObj = error.response.data;
                               console.log(errorObj)
                               for (let errors in errorObj) {
                                   let error = errorObj[errors];
                                   $.notify(error, "error");
                               }
                           }
                       });
               })
           })
       })
   </script>

  <script>
      $(document).ready(function () {
          let prizeInput = document.querySelectorAll(".price-item");
          prizeInput.forEach(item => {
              item.addEventListener("change", function () {
                  console.log($(this).val());
                  let formData = new FormData();
                  let pricesId = $(this).val().split("-");
                  for (let priceId of pricesId) {
                      formData.append("Prices", parseInt(priceId));
                  }
                  formData.append("categoryId", $("#hidden-category").val());

                  
                  axios.post('/Category/CategoryPrice', formData)
                      .then(function (response) {
                          if (response.data.count == null) {
                              $(".page-item").addClass("d-none");
                              $(".product-header").addClass("d-none");
                          }
                          $("#parent-product").html(response.data);
                      })
                      .catch(function (error) {
                          if (error.response) {
                              let errorObj = error.response.data;
                              console.log(errorObj)
                              for (let errors in errorObj) {
                                  let error = errorObj[errors];
                                  $.notify(error, "error");
                              }
                          }
                      });
              })
          })
      })
  </script>

  <script>
      $(document).ready(function () {
          let starInput = document.querySelectorAll(".star-item");
          starInput.forEach(item => {
              item.addEventListener("change", function () {
                  let formData = new FormData();
                  formData.append("Star", parseInt($(this).val()));
                  formData.append("categoryId", $("#hidden-category").val());

                  axios.post('/Category/CategoryStar', formData)
                      .then(function (response) {
                          if (response.data.count == null) {
                              $(".page-item").addClass("d-none");
                              $(".product-header").addClass("d-none");
                          }
                          $("#parent-product").html(response.data);
                      })
                      .catch(function (error) {
                          if (error.response) {
                              let errorObj = error.response.data;
                              console.log(errorObj)
                              for (let errors in errorObj) {
                                  let error = errorObj[errors];
                                  $.notify(error, "error");
                              }
                          }
                      });
              })
          })
      })
  </script>

  <script>
      $(document).ready(function () {
          $("#paging-size").change(function () {
              var paging = $("#paging-size").val();
              var pageItem = $(".page-item").attr("data-id");

              let formData = new FormData();
              formData.append("PagingSize", parseInt(paging));
              formData.append("categoryId", $("#hidden-category").val());
              formData.append("page", parseInt(pageItem));
              console.log(formData);
              axios.post('/Category/PaginSize', formData)
                  .then(function (response) {
                      $("#parent-product").html(response.data);

                  })
                  .catch(function (error) {
                      if (error.response) {
                          let errorObj = error.response.data;
                          console.log(errorObj)
                          for (let errors in errorObj) {
                              let error = errorObj[errors];
                              $.notify(error, "error");
                          }
                      }
                  });
          })
      })
  </script>

  <script>

      toastr.options = {
          "closeButton": false,
          "debug": false,
          "newestOnTop": false,
          "progressBar": false,
          "positionClass": "toast-top-left",
          "preventDuplicates": false,
          "onclick": null,
          "showDuration": "300",
          "hideDuration": "1000",
          "timeOut": "5000",
          "extendedTimeOut": "1000",
          "showEasing": "swing",
          "hideEasing": "linear",
          "showMethod": "fadeIn",
      }
      let selectedPhoto;
      let AllAddSpan = document.querySelectorAll(".add-to-wishlist");
      AllAddSpan.forEach(item => {
          item.addEventListener("click", function (e) {
              e.preventDefault();
              let images = this.parentNode.nextElementSibling.children;
              for (let sekil of images) {

                  if (sekil.classList.contains('hide-img') === false) {

                      selectedPhoto = sekil.getAttribute("src");
                  }
              }
              let id = $(this).attr("data-id");
              toastr.success(`the product added to your wishlist`);
              $.ajax({
                  url: "/WishList/AddToWish?Id=" + id + "&selectedPhoto=" + selectedPhoto,
                  type: "Get",
                  success: function (res) {
                      console.log(res.wishlistProductCount);
                      let totalCount = document.getElementById('totalCount');
                      totalCount.innerHTML = res.wishlistProductCount;

                  }
              })
          })
      })
  </script>

  <script>

      toastr.options = {
          "closeButton": false,
          "debug": false,
          "newestOnTop": false,
          "progressBar": false,
          "positionClass": "toast-top-left",
          "preventDuplicates": false,
          "onclick": null,
          "showDuration": "300",
          "hideDuration": "1000",
          "timeOut": "5000",
          "extendedTimeOut": "1000",
          "showEasing": "swing",
          "hideEasing": "linear",
          "showMethod": "fadeIn",
      }
      let selectedPhotos;
      let AddSpan = document.querySelectorAll(".add-to-cartlist");
      AddSpan.forEach(item => {
          item.addEventListener("click", function (e) {
              e.preventDefault();
              let images = this.parentNode.parentNode.parentNode.previousElementSibling
                  .firstChild.nextElementSibling.nextElementSibling.nextElementSibling
                  .children;
              for (let sekil of images) {

                  if (sekil.classList.contains('hide-img') === false) {

                      selectedPhotos = sekil.getAttribute("src");
                  }
              }
              let id = $(this).attr("data-id");
              toastr.success(`the product added to your cartlist`);
              $.ajax({
                  url: "/Basket/AddToCart?Id=" + id + "&selectedPhotos=" + selectedPhotos,
                  type: "Get",
                  success: function (res) {
                      let totalCountPrice = document.getElementById('totalCountPrice');
                      totalCountPrice.innerHTML = res.cartlistProductCount;


                  }
              })
          })
      })
  </script>
}