@model CategoryViewModel
@{
    ViewData["Title"] = "PriceRange";
}

<main>
    <!-- Title page start -->
    <section id="title-page">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="entry-header">
                        <h1>@Model.Category.Name</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Main page start -->
    <section id="main-page">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-4">
                    <div class="product-categories">
                        <h2>Product categories <i class="fas fa-angle-up"></i></h2>
                        <ul class="categories-items">
                            @foreach (var item in Model.Categories)
                            {
                                <li class="category-item">
                                    <a asp-controller="Category" asp-action="Index" asp-route-id="@item.Id">@item.Name <i class="fas fa-angle-down"></i></a>
                                    <span>(@item.ProductCount)</span>
                                    <ul class="subcategories-items d-none">
                                        @foreach (var subCategory in item.SubCategories)
                                        {
                                            <li class="subcategory-item">
                                                <a href="#">@subCategory.Name</a>
                                            </li>
                                        }
                                    </ul>
                                </li>
                            }
                        </ul>
                    </div>
                    <div class="price-filter">
                        <h2>Filter by Price <i class="fas fa-angle-up"></i></h2>
                        <ul class="price-filter-list">
                            <li class="price-filter-item">
                                <a href="#">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                        <span>$0.00 -</span>
                                        <span> $50.00</span>
                                    </div>
                                </a>
                            </li>
                            <li class="price-filter-item">
                                <a href="#">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                        <span>$50.00 -</span>
                                        <span> $100.00</span>
                                    </div>
                                </a>
                            </li>
                            <li class="price-filter-item">
                                <a href="#">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                        <span>$100.00 -</span>
                                        <span> $200.00</span>
                                    </div>
                                </a>
                            </li>
                            <li class="price-filter-item">
                                <a href="#">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                        <span>$200.00 -</span>
                                        <span> more</span>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="color-filter">
                        <h2>Filter by Color <i class="fas fa-angle-up"></i></h2>
                        <ul class="color-filter-list">
                            <li class="color-filter-item">
                                <a href="#">
                                    <div class="form-check">
                                        
                                        <input class="form-check-input" type="checkbox" id="gridCheck1">
                                        @*<input type="checkbox" class="speaker-input" id="@Model.ProductFeatured.Key" value="@Model.ProductFeatured.Key">*@
                                        <span class="product-color">
                                            <span data-toggle="tooltip" data-placement="top" title="Blue" class="bluer-color"></span>
                                        </span>
                                    </div>
                                    <span>Blue</span>
                                </a>
                            </li>
                            <li class="color-filter-item">
                                <a href="#">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="gridCheck1">
                                        <span class="product-color">
                                            <span data-toggle="tooltip" data-placement="top" title="Grey" class="grey-color"></span>
                                        </span>
                                    </div>
                                    <span>Grey</span>
                                </a>
                            </li>
                            <li class="color-filter-item">
                                <a href="#">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="gridCheck1">
                                        <span class="product-color">
                                            <span data-toggle="tooltip" data-placement="top" title="Maroon" class="dark-red-color"></span>
                                        </span>
                                    </div>
                                    <span>Maroon</span>
                                </a>
                            </li>
                            <li class="color-filter-item">
                                <a href="#">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="gridCheck1">
                                        <span class="product-color">
                                            <span data-toggle="tooltip" data-placement="top" title="White" class="white-color"></span>
                                        </span>
                                    </div>
                                    <span>White</span>
                                </a>
                            </li>
                            <li class="color-filter-item">
                                <a href="#">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="gridCheck1">
                                        <span class="product-color">
                                            <span data-toggle="tooltip" data-placement="top" title="Dark Blue" class="dark-bluer-color"></span>
                                        </span>
                                    </div>
                                    <span>Dark Blue</span>
                                </a>
                            </li>
                            <li class="color-filter-item">
                                <a href="#">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="gridCheck1">
                                        <span class="product-color">
                                            <span data-toggle="tooltip" data-placement="top" title="Red" class="red-color"></span>
                                        </span>
                                    </div>
                                    <span>Red</span>
                                </a>
                            </li>
                            <li class="color-filter-item">
                                <a href="#">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="gridCheck1">
                                        <span class="product-color">
                                            <span data-toggle="tooltip" data-placement="top" title="Sky Blue" class="sky-bluer-color"></span>
                                        </span>
                                    </div>
                                    <span>Sky Blue</span>
                                </a>
                            </li>
                            <li class="color-filter-item">
                                <a href="#">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="gridCheck1">
                                        <span class="product-color">
                                            <span data-toggle="tooltip" data-placement="top" title="Silver" class="grey-silver-color"></span>
                                        </span>
                                    </div>
                                    <span>Silver</span>
                                </a>
                            </li>
                            <li class="color-filter-item">
                                <a href="#">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="gridCheck1">
                                        <span class="product-color">
                                            <span data-toggle="tooltip" data-placement="top" title="Black" class="black-color"></span>
                                        </span>
                                    </div>
                                    <span>Black</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="size-filter">
                        <h2>Filter by Size <i class="fas fa-angle-up"></i></h2>
                        <ul class="size-filter-list">
                            <li class="size-filter-item">
                                <a href="#">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="gridCheck1">
                                    </div>
                                    <span>30</span>
                                </a>
                            </li>
                            <li class="size-filter-item">
                                <a href="#">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="gridCheck1">
                                    </div>
                                    <span>32</span>
                                </a>
                            </li>
                            <li class="size-filter-item">
                                <a href="#">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="gridCheck1">
                                    </div>
                                    <span>34</span>
                                </a>
                            </li>
                            <li class="size-filter-item">
                                <a href="#">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="gridCheck1">
                                    </div>
                                    <span>L</span>
                                </a>
                            </li>
                            <li class="size-filter-item">
                                <a href="#">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="gridCheck1">
                                    </div>
                                    <span>M</span>
                                </a>
                            </li>
                            <li class="size-filter-item">
                                <a href="#">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="gridCheck1">
                                    </div>
                                    <span>S</span>
                                </a>
                            </li>
                            <li class="size-filter-item">
                                <a href="#">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="gridCheck1">
                                    </div>
                                    <span>XL</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="star-filter">
                        <h2>Average Rating <i class="fas fa-angle-up"></i></h2>
                        <ul class="star-filter-list">
                            <li class="star-filter-item">
                                <a href="#">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="gridCheck1">
                                    </div>
                                    <span class="star-color">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </span>
                                </a>
                            </li>
                            <li class="star-filter-item">
                                <a href="#">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="gridCheck1">
                                    </div>
                                    <span class="star-color">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="far fa-star"></i>
                                    </span>
                                </a>
                            </li>
                            <li class="star-filter-item">
                                <a href="#">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="gridCheck1">
                                    </div>
                                    <span class="star-color">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="far fa-star"></i>
                                        <i class="far fa-star"></i>
                                    </span>
                                </a>
                            </li>
                            <li class="star-filter-item">
                                <a href="#">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="gridCheck1">
                                    </div>
                                    <span class="star-color">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="far fa-star"></i>
                                        <i class="far fa-star"></i>
                                        <i class="far fa-star"></i>
                                    </span>
                                </a>
                            </li>
                            <li class="star-filter-item">
                                <a href="#">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="gridCheck1">
                                    </div>
                                    <span class="star-color">
                                        <i class="fas fa-star"></i>
                                        <i class="far fa-star"></i>
                                        <i class="far fa-star"></i>
                                        <i class="far fa-star"></i>
                                        <i class="far fa-star"></i>
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <button class="btn btn-outline-danger">Clear</button>
                </div>
                <div class="col-lg-9 col-md-8">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="product-header">
                                <div class="product-show">
                                    <span>Show:</span>
                                    <select class="show-number">
                                        <option>6</option>
                                        <option>9</option>
                                        <option selected>12</option>
                                        <option>24</option>
                                        <option>36</option>
                                        <option>48</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        @foreach (var item in Model.Products.Where(x => x.CategoryId == Model.Category.Id))
                        {
                            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-6">
                                <div class="item">
                                    <div class="product-group">
                                        <div class="product-item">
                                            <div class="product-img">
                                                @if (item.IsFeatured == true)
                                                {
                                                    <div class="product-featured">
                                                        <span>Featured</span>
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div class="product-featured d-none">
                                                        <span>Featured</span>
                                                    </div>
                                                }
                                                <div class="product-button">
                                                    <a href="#" data-toggle="tooltip" data-placement="left" title="Add to Wishlist">
                                                        <i class="far fa-heart"></i>
                                                    </a>
                                                </div>
                                                <a href="#">
                                                    @{ var imgCount = 1;}
                                                    @foreach (var img in item.ProductGalleries)
                                                    {
                                                        @if (imgCount == 1)
                                                        {
                                                            <img data-id=@imgCount src="~/assets/img/@img.Photo" alt="">
                                                        }
                                                        else
                                                        {
                                                            <img data-id=@imgCount class="hide-img" src="~/assets/img/@img.Photo" alt="">
                                                        }
                                                        imgCount++;
                                                    }
                                                    <img class="hover-image hide-img" src="~/assets/img/@item.HoverPhoto" alt="Men-Hooded-Blue-Grey-T-Shirt">
                                                </a>
                                            </div>
                                            <div class="product-text">
                                                <div class="product-title">
                                                    <div class="product-category">
                                                        @foreach (var categoryName in item.SubCategories)
                                                        {
                                                            <a href="#">@categoryName.Name</a>
                                                        }
                                                    </div>
                                                    <h3 class="product-content">
                                                        <a asp-controller="Product" asp-action="Index" asp-route-id="@item.Id">@item.Name</a>
                                                    </h3>
                                                    <div class="product-start">
                                                        <div class="@item.StarColor">
                                                            <span>@item.StarCount ★</span>
                                                        </div>
                                                        <div class="rating-counts">
                                                            <a href="#"><span> (@item.RatingCount) </span></a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="product-price">
                                                    <span class="price">
                                                        <span>$@item.Price.ToString("#.00")</span>
                                                    </span>
                                                    <span class="on-sale">
                                                        <span>@item.OnSale</span>
                                                    </span>
                                                </div>
                                                <div class="product-buttons">
                                                    <div class="cart-button">
                                                        <a href="#">Select options</a>
                                                    </div>
                                                    <div class="compare-button">
                                                        <a href="#" data-toggle="tooltip" data-placement="top" title="Compare"><i class="fas fa-random"></i></a>
                                                    </div>
                                                    <div class="search-button">
                                                        <a href="#" data-toggle="tooltip" data-placement="top" title="Quick View"><i class="fas fa-search-plus"></i></a>
                                                    </div>
                                                </div>
                                                <div class="product-variations">
                                                    <div class="product-colors">
                                                        @{ int colorsCount = 1;}
                                                        @foreach (var color in item.ProductFeatureds.Where(x => x.IsCoolor == true))
                                                        {
                                                            @if (colorsCount == 1)
                                                            {
                                                                <span data-id=@colorsCount class="product-color active">
                                                                    <span data-toggle="tooltip" data-placement="top" title="@color.Key" class="@color.Value"></span>
                                                                </span>
                                                            }
                                                            else
                                                            {
                                                                <span data-id=@colorsCount class="product-color">
                                                                    <span data-toggle="tooltip" data-placement="top" title="@color.Key" class="@color.Value"></span>
                                                                </span>
                                                            }
                                                            colorsCount++;
                                                        }
                                                    </div>
                                                    <div class="product-sizes">
                                                        @{ string actives = "active";}

                                                        @foreach (var sizes in item.ProductFeatureds.Where(x => x.IsCoolor == false))
                                                        {
                                                            @foreach (var size in sizes.Value.Split(","))
                                                            {
                                                                @if (actives == "active")
                                                                {
                                                                    <span class="product-size active">
                                                                        <span>@size</span>
                                                                    </span>
                                                                }
                                                                else
                                                                {
                                                                    <span class="product-size">
                                                                        <span>@size</span>
                                                                    </span>
                                                                }
                                                                { actives = "deactive"; }
                                                            }
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }

                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="pagination-area">
                                <ul>
                                    <li class="active">
                                        <a href="#">1</a>
                                    </li>
                                    <li>
                                        <a href="#">2</a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fas fa-angle-double-right"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

