@model CategoryViewModel
@{
    ViewData["Title"] = "SubCategoryDetail";
}

<!-- Title page start -->
<section id="title-page">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="entry-header">
                    <h1>@Model.SubCategory.Name</h1>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Main page start -->
<section id="main-page">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-4">
                <div class="product-categories">
                    <h2>Product categories <i class="fas fa-angle-up"></i></h2>
                    <ul class="categories-items">
                        @foreach (var item in Model.Categories)
                        {
                            <li class="category-item">
                                <a asp-controller="Category" asp-action="Index" asp-route-id="@item.Id">@item.Name <i class="fas fa-angle-down"></i></a>
                                <span>(@item.ProductCount)</span>
                                <ul class="subcategories-items d-none">
                                    @foreach (var subCategory in item.SubCategories)
                                    {
                                        <li class="subcategory-item">
                                            <a asp-controller="Category" asp-action="SubCategoryDetail" asp-route-id="@subCategory.Id">@subCategory.Name</a>
                                        </li>
                                    }
                                </ul>
                            </li>
                        }
                    </ul>
                </div>
            </div>

            <div class="col-lg-9 col-md-8">
                <div class="row">
                    @foreach (var item in Model.Products)
                    {
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-6">
                            <div class="item">
                                <div class="product-group">
                                    <div class="product-item">
                                        <div class="product-img">
                                            @if (item.IsFeatured == true)
                                            {
                                                <div class="product-featured">
                                                    <span>Featured</span>
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="product-featured d-none">
                                                    <span>Featured</span>
                                                </div>
                                            }
                                            <div class="product-button">
                                                <a href="#" class="add-to-wishlist" data-id="@item.Id" data-toggle="tooltip" data-placement="left" title="Add to Wishlist">
                                                    <i class="far fa-heart"></i>
                                                </a>
                                            </div>
                                            <a asp-controller="Product" asp-action="Index" asp-route-id="@item.Id">
                                                @{ var imgCount = 1;}
                                                @foreach (var img in item.ProductGalleries)
                                                {
                                                    @if (imgCount == 1)
                                                    {
                                                        <img data-id=@imgCount src="~/uploads/@img.Photo" alt="">
                                                    }
                                                    else
                                                    {
                                                        <img data-id=@imgCount class="hide-img" src="~/uploads/@img.Photo" alt="">
                                                    }
                                                    imgCount++;
                                                }
                                                <img class="hover-image hide-img" src="~/uploads/@item.HoverPhoto" alt="Men-Hooded-Blue-Grey-T-Shirt">
                                            </a>
                                        </div>
                                        <div class="product-text">
                                            <div class="product-title">
                                                <div class="product-category">
                                                    <a asp-controller="Category" asp-action="SubCategoryDetail" asp-route-id="@item.SubCategory.Id">@item.SubCategory.Name</a>
                                                </div>
                                                <h3 class="product-content">
                                                    <a asp-controller="Product" asp-action="Index" asp-route-id="@item.Id">@item.Name</a>
                                                </h3>
                                                <div class="product-start">
                                                    <div class="@item.StarColor">
                                                        <span>@item.StarCount ★</span>
                                                    </div>
                                                    <div class="rating-counts">
                                                        <a href="#"><span> (@item.RatingCount) </span></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="product-price">
                                                <span class="price">
                                                    <span>$@item.Price.ToString("#.00")</span>
                                                </span>
                                                <span class="on-sale">
                                                    <span>@item.OnSale</span>
                                                </span>
                                            </div>
                                            <div class="product-buttons">
                                                <div class="cart-button">
                                                    <a href="#" class="add-to-cartlist" data-id="@item.Id">Add to cart</a>
                                                </div>
                                                <div class="compare-button">
                                                    <a href="#" data-toggle="tooltip" data-placement="top" title="Compare"><i class="fas fa-random"></i></a>
                                                </div>
                                                <div class="search-button">
                                                    <a href="#" data-toggle="tooltip" data-placement="top" title="Quick View"><i class="fas fa-search-plus"></i></a>
                                                </div>
                                            </div>
                                            <div class="product-variations">
                                                <div class="product-colors">
                                                    @{ int colorsCount = 1;}
                                                    @foreach (var color in item.ProductColors)
                                                    {
                                                        @if (colorsCount == 1)
                                                        {
                                                            <span data-id=@colorsCount class="product-color active">
                                                                <span data-toggle="tooltip" data-placement="top" title="@color.Color.Key" class="@color.Color.Value"></span>
                                                            </span>
                                                        }
                                                        else
                                                        {
                                                            <span data-id=@colorsCount class="product-color">
                                                                <span data-toggle="tooltip" data-placement="top" title="@color.Color.Key" class="@color.Color.Value"></span>
                                                            </span>
                                                        }
                                                        colorsCount++;
                                                    }
                                                </div>
                                                <div class="product-sizes">
                                                    @{ string actives = "active";}

                                                    @foreach (var sizes in item.ProductSizes)
                                                    {
                                                        @if (actives == "active")
                                                        {
                                                            <span class="product-size active">
                                                                <span>@sizes.Size.Value</span>
                                                            </span>
                                                        }
                                                        else
                                                        {
                                                            <span class="product-size">
                                                                <span>@sizes.Size.Value</span>
                                                            </span>
                                                        }
                                                        { actives = "deactive"; }
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts{
    
<script>

      toastr.options = {
          "closeButton": false,
          "debug": false,
          "newestOnTop": false,
          "progressBar": false,
          "positionClass": "toast-top-left",
          "preventDuplicates": false,
          "onclick": null,
          "showDuration": "300",
          "hideDuration": "1000",
          "timeOut": "5000",
          "extendedTimeOut": "1000",
          "showEasing": "swing",
          "hideEasing": "linear",
          "showMethod": "fadeIn",
      }
      let selectedPhoto;
      let AllAddSpan = document.querySelectorAll(".add-to-wishlist");
      AllAddSpan.forEach(item => {
          item.addEventListener("click", function (e) {
              e.preventDefault();
              let images = this.parentNode.nextElementSibling.children;
              for (let sekil of images) {

                  if (sekil.classList.contains('hide-img') === false) {

                      selectedPhoto = sekil.getAttribute("src");
                  }
              }
              let id = $(this).attr("data-id");
              toastr.success(`the product added to your wishlist`);
              $.ajax({
                  url: "/WishList/AddToWish?Id=" + id + "&selectedPhoto=" + selectedPhoto,
                  type: "Get",
                  success: function (res) {
                      console.log(res.wishlistProductCount);
                      let totalCount = document.getElementById('totalCount');
                      totalCount.innerHTML = res.wishlistProductCount;

                  }
              })
          })
      })
    </script>

<script>

    toastr.options = {
        "closeButton": false,
        "debug": false,
        "newestOnTop": false,
        "progressBar": false,
        "positionClass": "toast-top-left",
        "preventDuplicates": false,
        "onclick": null,
        "showDuration": "300",
        "hideDuration": "1000",
        "timeOut": "5000",
        "extendedTimeOut": "1000",
        "showEasing": "swing",
        "hideEasing": "linear",
        "showMethod": "fadeIn",
    }
    let selectedPhotos;
    let AddSpan = document.querySelectorAll(".add-to-cartlist");
    AddSpan.forEach(item => {
        item.addEventListener("click", function (e) {
            e.preventDefault();
            let images = this.parentNode.parentNode.parentNode.previousElementSibling
                .firstChild.nextElementSibling.nextElementSibling.nextElementSibling
                .children;
            for (let sekil of images) {

                if (sekil.classList.contains('hide-img') === false) {

                    selectedPhotos = sekil.getAttribute("src");
                }
            }
            let id = $(this).attr("data-id");
            toastr.success(`the product added to your cartlist`);
            $.ajax({
                url: "/Basket/AddToCart?Id=" + id + "&selectedPhotos=" + selectedPhotos,
                type: "Get",
                success: function (res) {
                    let totalCountPrice = document.getElementById('totalCountPrice');
                    totalCountPrice.innerHTML = res.cartlistProductCount;


                }
            })
        })
    })
</script>
}

